{
	"swagger": "2.0",
	"info": {
		"title": "HDInsightClusterManagementClient",
		"description": "HDInsight Cluster management client",
		"version":"2014-10-01"
	},
	"host": "managment.azure.com",
	"schemes": [
		"https"
	],
	"consume": [
		"application/json",
		"text/json"
	],
	"produces": [
		"application/json",
		"text/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
		"put": {
			"tags": [
		      "Cluster"
		    ],
		    "parameters": [
		      {
		        "name": "resourceGroupName",
		        "in": "path",
		        "required": true,
		        "type": "string",
		        "description": "The name of the Resource Group to which the cluster belongs."
		      },
		      {
		        "name": "clusterName",
		        "in": "path",
		        "required": true,
		        "type": "string",
		        "pattern": "^[0-9a-zA-Z][0-9a-zA-Z-]*[a-zA-Z0-9]$",
		        "description": "Name of the cluster $Are the validations correct? Are all these api's correct?$"
		      },
		      {
		        "$ref": "#/parameters/ApiVersionParameter"
		      },
		      {
		        "name": "parameters",
		        "in": "body",
		        "required": true,
		        "schema": {
		          "$ref": "#/definitions/ClusterCreateOrUpdateParameters"
		        },
		        "description": "Parameters to create or update the cluster"
		      },
		      {
		        "$ref": "#/parameters/SubscriptionIdParameter"
		      }
		    ],
		    "responses": {
		      "200": {
		        "description": "Created or updated Cluster",
		        "schema": {
		          "$ref": "#/definitions/Cluster"
		        },
                "headers":{
                  "Content-Type":{
                      "description":"application/json.",
                      "type":"string"
                  },
                  "Date":{
                      "description":"The date that the request was processed in RFC 1123 format.",
                      "type":"string"
                  },
                  "x-ms-request-id":{
                      "description":"A unique identifier for the current operation, service generated.",
                      "type":"string"
                  }
                }
              },
              "409": {
                "error"
                "description": "This specified cluster DNS is already taken by a different subscription.",
              },
              "409": {
                "description": "This specified cluster is being created.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "409": {
                "description": "This specified cluster already exists under the subscription.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "409": {
                "description": "This specified cluster is being created.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "400": {
                "description": "The account type specified is not valid.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "400": {
                "description": "Too many tags are specified for the storage account.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "400": {
                "description": "The specified location is not valid.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "400": {
                "description": "The specified account name is reserved or not valid.",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              },
              "400": {
                "description": "Too many tags are specified for the storage account.",
                "schema": {
                  "$ref": "#/definitions/Error"
                },
                "headers": {
                  "$ref": "#/definitions/ErrorHeaders"
                }
              },
              "default": {
                "description": "Internal server error",
                "schema": {
                  "$ref": "#/definitions/Error"
                }
              }
            }
          }
        },
    	"delete": {
          "tags": [
            "Cluster"
          ],
            "description": "Deletes the specified HDInsight cluster.",
            "parameters": [
              {
                "name": "resourceGroupName",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "The name of the Resource Group to which the cluster belongs."
              },
              {
                "name": "clusterName",
                "in": "path",
                "required": true,
                "type": "string",
                "pattern": "^[0-9a-zA-Z][0-9a-zA-Z-]*[a-zA-Z0-9]$",
                "description": "The name of the cluster to delete"
              },
              {
                "$ref": "#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "#/parameters/SubscriptionIdParameter"
              }
            ],            
            "responses": {
              "202": {
                "description": "Accepted",
                "schema": {
                  "$ref": "#/definitions/Cluster"
                },
                "headers":{
                  "x-ms-request-id":{
                      "description":"A unique identifier for the current operation, service generated.",
                      "type":"string"
                  },
                  "Date":{
                    "description":"The date that the request was processed in RFC 1123 format.",
                    "type":"string"
                  },
                  "Location":{
                    "description":"A unique identifier for the current operation, service generated.",
                    "type":"string"
                  },
                  "Retry-After": {
                    "description": "Set to the URL where the result of the long-running operation can be checked. URL format is: https://<endpoint>/subscriptions/{subscriptionId}/{Original-URL-For-request}/operationresults/{operationId}&api-version={api-version}",
                    "type": "string"
                  }
                }
              },
              "409": {
                "description": "An operation on this cluster is in progress.",
                "schema": {
                  "$ref": "#/definitions/Error"
                },
              },
              "404": {
                "description": "The specified cluster does not exist.",
                "schema": {
                  "$ref": "#/definitions/Error"
                },          
              }
            }
        }
        "get": {
          "tags": [
          "Cluster"
        ],
        "operationId": "Cluster_Get",
        "description": "Gets the specified HDInsight.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Resource Group to which the cluster belongs."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z][0-9a-zA-Z-]*[a-zA-Z0-9]$",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response."
          },
          "headers":{
            "Content-Type":{
                "description":"application/json.",
                "type":"string"
            },
            "Date":{
                "description":"The date that the request was processed in RFC 1123 format.",
                "type":"string"
            },
            "x-ms-request-id":{
                "description":"A unique identifier for the current operation, service generated.",
                "type":"string"
            }
          }
        }
        }
    },
	"definitions": {
    "Properties": {
      "id": {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },
      "name": {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },
      "type": {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },
      "location":: {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },
      "tags": {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },
      "etag": {
          "type": "string",
          "description": "The URI of the cluster for performing operations on keys and secrets."
      },      
      "properties": {
      },
      "required": [
      ],
      "description": "Properties of the cluster from Get request"
    },
    "ClusterCreateOrUpdateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The supported Azure location where the key vault should be created."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags that will be assigned to the key vault. "
        },
        "properties": {
          "$ref": "#/definitions/VaultProperties",
          "description": "Properties of the vault"
        }
      },
      "description": "Parameters for creating or updating a vault",
      "required": [
        "location",
        "properties"
      ],
      "x-ms-azure-resource": true
    },
    "Vault": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/VaultProperties",
          "description": "Properties of the vault"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information with extended details."
    },
    "VaultListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vault"
          },
          "description": "Gets or sets the list of vaults."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of vaults."
        }
      },
      "description": "List of vaults"
    },
    "ResourceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          },
          "description": "Gets the list of vault resources."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of vault resources."
        }
      },
      "description": "List of vault resources."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The Azure Resource Manager resource ID for the key vault."
        },
        "name": {
          "type": "string",
          "description": "The name of the key vault."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type of the key vault."
        },
        "location": {
          "type": "string",
          "description": "The supported Azure location where the key vault should be created."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags that will be assigned to the key vault. "
        }
      },
      "description": "Key Vault resource",
      "required": [
        "location",
        "name"
      ],
      "x-ms-azure-resource": true
    }

	},
	"parameters": {
  	"SubscriptionIdParameter": {
    		"name": "subscriptionId",
    		"in": "path",
    		"required": true,
    		"type": "string",
    		"description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
  	},
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
  	},
  }
}