{
  "swagger": "2.0",
  "info": {
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client.",
    "version": "2015-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/changerdpsetting": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ConfigureRdpSettings",
        "description": "Begins configuring the RDP settings on the specified cluster.",
        "x-ms-examples": {
          "Change Remote Desktop settings - Enable": {
            "$ref": "../examples/RdpSettingsEnable.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z][0-9a-zA-Z-]*[a-zA-Z0-9]$",
            "description": "The name of the cluster."
          },
          {
            "name": "rdpParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RDPSettingsParameters"
            },
            "description": "The OS profile for RDP."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/gateway": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ConfigureHttpSettings",
        "description": "Begins configuring the HTTP settings on the specified cluster.",
        "x-ms-examples": {
          "Enable HTTP connectivity": {
            "$ref": "../examples/ChangeHttpConnectivityEnable.json"
          },
          "Disable HTTP connectivity": {
            "$ref": "../examples/ChangeHttpConnectivityDisable.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "httpSettingsParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HttpSettingsParameters"
            },
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          },
          "204": {
            "description": "No content response definition"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_GetConnectivitySettings",
        "description": "Gets the connectivity settings for the specified cluster.",
        "x-ms-examples": {
          "Get HTTP settings": {
            "$ref": "../examples/GetHttpConnectivity.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/HttpConnectivitySettings"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
      "put": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Create",
        "description": "Begins creating a new HDInsight cluster with the specified parameters.",
        "x-ms-examples": {
          "Create Hadoop on Linux cluster with SSH password": {
            "$ref": "../examples/CreateLinuxHadoopSshPassword.json"
          },
          "Create Hadoop on Linux cluster with SSH public key": {
            "$ref": "../examples/CreateLinuxHadoopSshPublicKey.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "clusterCreateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterCreateParametersExtended"
            },
            "description": "The cluster create request."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Delete",
        "description": "Begins deleting the specified HDInsight cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Get",
        "description": "Gets the specified cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight//clusters/{clusterName}/scriptActions/{scriptName}": {
      "delete": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_DeletePersistedScript",
        "description": "Deletes a given persisted script action of the cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "scriptName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the script."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ExecuteScriptActions",
        "description": "Begins executing script actions on the specified HDInsight cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "executeScriptActionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteScriptActionParameters"
            },
            "description": "The parameters for executing script actions."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_GetClusterConfigurations",
        "description": "Gets the configuration for the specified cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type name of the hadoop configuration."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_GetCapabilities",
        "description": "Gets the capabilities for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location to get capabilities for."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/CapabilitiesResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListPersistedScripts",
        "description": "Lists all persisted script actions for the given cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListPersistedScriptActionsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight//clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_GetScriptExecutionDetail",
        "description": "Gets the script execution detail for the given script execution id.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "scriptExecutionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The script execution Id"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/RuntimeScriptActionDetail"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight//clusters/{clusterName}/scriptExecutionHistory": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListScriptExecutionHistory",
        "description": "Lists all scripts execution history for the given cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListRuntimeScriptActionDetailResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListByResourceGroup",
        "description": "List the HDInsight clusters in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight//clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_PromoteScript",
        "description": "Promote ad-hoc script execution to a persisted script.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "scriptExecutionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The script execution Id"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/workernode/resize": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Resize",
        "description": "Begins a resize operation on the specified HDInsight cluster.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "resizeParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterResizeParameters"
            },
            "description": "The parameters for the resize operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_List",
        "description": "Lists HDInsight clusters under the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "RdpSettings": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Gets or sets the username for the RDP user."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password for the RDP user."
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the RDP expiry date(YYYY-MM-DD)."
        }
      }
    },
    "WindowsOperatingSystemProfile": {
      "properties": {
        "rdpSettings": {
          "$ref": "#/definitions/RdpSettings",
          "description": "Gets or sets the RDP settings."
        }
      }
    },
    "SshPublicKey": {
      "properties": {
        "certificateData": {
          "type": "string",
          "description": "Gets or sets the certificate for SSH."
        }
      }
    },
    "SshProfile": {
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "Gets or sets the list of SSH public keys."
        }
      }
    },
    "LinuxOperatingSystemProfile": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Gets or sets the username."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password."
        },
        "sshProfile": {
          "$ref": "#/definitions/SshProfile",
          "description": "Gets or sets the SSH profile."
        }
      }
    },
    "OsProfile": {
      "properties": {
        "windowsOperatingSystemProfile": {
          "$ref": "#/definitions/WindowsOperatingSystemProfile",
          "description": "Gets or sets the Windows OS profile."
        },
        "linuxOperatingSystemProfile": {
          "$ref": "#/definitions/LinuxOperatingSystemProfile",
          "description": "Gets or sets the Linux OS profile."
        }
      }
    },
    "RDPSettingsParameters": {
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Gets or sets the definition of a data factory gateway to be created or updated."
        }
      },
      "required": [
        "osProfile"
      ],
      "description": "Parameters specifying the data factory gateway definition for a create or update operation."
    },
    "HttpSettingsParameters": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the whether or not HTTP is enabled."
        },
        "restAuthCredential.username": {
          "type": "string",
          "description": "Gets or sets the http username."
        },
        "restAuthCredential.password": {
          "type": "string",
          "description": "Gets or sets the http user password."
        }
      },
      "required": [
        "restAuthCredential.isEnabled"
      ],
      "description": "The payload for a Configure HTTP settings request."
    },
    "ClusterDefinition": {
      "properties": {
        "blueprint": {
          "type": "string",
          "description": "Gets or sets the link to the blueprint."
        },
        "kind": {
          "type": "string",
          "description": "Gets or sets the type of cluster."
        },
        "componentVersion": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the versions of different services in the cluster."
        },
        "configurations": {
          "type": "object",
          "description": "Gets or sets the cluster configurations."
        }
      }
    },
    "SecurityProfile": {
      "properties": {
        "directoryType": {
          "type": "string",
          "description": "Gets or sets the directory type.",
          "enum": [
            "ActiveDirectory"
          ],
          "x-ms-enum": {
            "name": "DirectoryType",
            "modelAsString": false
          }
        },
        "domain": {
          "type": "string",
          "description": "Gets or sets the domain."
        },
        "organizationalUnitDN": {
          "type": "string",
          "description": "Gets or sets Distinguished Name for organizational unit."
        },
        "ldapsUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the LDAP URLs."
        },
        "domainUsername": {
          "type": "string",
          "description": "Gets or sets the domain admin user name."
        },
        "domainUserPassword": {
          "type": "string",
          "description": "Gets or sets the domain admin password."
        },
        "clusterUsersGroupDNs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Gets or sets the Distinguished Names for cluster user groups"
        }
      }
    },
    "HardwareProfile": {
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "Gets or sets the size of the VM"
        }
      },
      "description": "Describes the hardware profile."
    },
    "VirtualNetworkProfile": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the virtual network."
        },
        "subnet": {
          "type": "string",
          "description": "Gets or sets the name of the subnet."
        }
      }
    },
    "ScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "Gets or sets the parameters for the script provided."
        }
      },
      "required": [
        "name",
        "uri",
        "parameters"
      ],
      "description": "Describes a script action on role on the cluster."
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the role."
        },
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the instance count of the cluster."
        },
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Gets or sets the hardware profile."
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Gets or sets the operating system profile."
        },
        "virtualNetworkProfile": {
          "$ref": "#/definitions/VirtualNetworkProfile",
          "description": "Gets or sets the virtual network profile."
        },
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScriptAction"
          },
          "description": "Gets or sets the list of script actions on the role."
        }
      },
      "description": "Describes a role on the cluster."
    },
    "ComputeProfile": {
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          },
          "description": "Gets or sets the list of roles in the cluster."
        }
      },
      "description": "Describes the compute profile."
    },
    "ClusterCreateProperties": {
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "Gets or sets the version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "Gets or sets the type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "Gets or sets the cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "Gets or sets the cluster definition."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Gets or sets the security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Gets or sets the compute profile."
        }
      }
    },
    "ClusterCreateParametersExtended": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the cluster."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ClusterCreateProperties",
          "description": "Gets or sets the cluster create parameters."
        }
      },
      "description": "The CreateCluster request parameters."
    },
    "QuotaInfo": {
      "properties": {
        "coresUsed": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the cores used by the cluster."
        }
      }
    },
    "ErrorInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      }
    },
    "ConnectivityEndpoint": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the endpoint."
        },
        "protocol": {
          "type": "string",
          "description": "Gets or sets the protocol of the endpoint."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the endpoint."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the port to connect to."
        }
      }
    },
    "ClusterGetProperties": {
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "Gets or sets the version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "Gets or sets the type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "Gets or sets the cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "Gets or sets the cluster definition."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Gets or sets the security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Gets or sets the compute profile."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state, which only appears in the response.",
          "enum": [
            "InProgress",
            "Failed",
            "Succeeded",
            "Canceled",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "HDInsightClusterProvisioningState",
            "modelAsString": false
          }
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the date on which the cluster was created."
        },
        "clusterState": {
          "type": "string",
          "description": "Gets or sets the state of the cluster."
        },
        "quotaInfo": {
          "$ref": "#/definitions/QuotaInfo",
          "description": "Gets or sets the quota information."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorInfo"
          },
          "description": "Gets or sets the list of errors."
        },
        "connectivityEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityEndpoint"
          },
          "description": "Gets or sets the list of connectivity endpoints."
        }
      },
      "required": [
        "clusterDefinition"
      ],
      "description": "Describes the properties of a cluster."
    },
    "Cluster": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the ETag for the resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ClusterGetProperties",
          "description": "Gets or sets the properties of the cluster."
        }
      },
      "description": "Describes the cluster."
    },
    "RuntimeScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "Gets or sets the parameters for the script"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the list of roles where script will be executed."
        },
        "applicationName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the application name of the script action, if any."
        }
      },
      "required": [
        "name",
        "uri",
        "roles"
      ],
      "description": "Describes a script action on a running cluster."
    },
    "ExecuteScriptActionParameters": {
      "properties": {
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          },
          "description": "Gets or sets the list of run time script actions."
        },
        "persistOnSuccess": {
          "type": "boolean",
          "description": "Gets or sets if the scripts needs to be persisted."
        }
      },
      "required": [
        "persistOnSuccess"
      ],
      "description": "Describes the script actions on a running cluster."
    },
    "HttpConnectivitySettings": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "x-ms-client-name": "enabledCredential",
          "type": "boolean",
          "description": "Gets or sets the whether or not HTTP is enabled."
        },
        "restAuthCredential.username": {
          "x-ms-client-name": "username",
          "type": "string",
          "description": "Gets or sets the http username."
        },
        "restAuthCredential.password": {
          "x-ms-client-name": "password",
          "type": "string",
          "description": "Gets or sets the http user password."
        }
      },
      "description": "The payload for a Configure HTTP settings request."
    },
    "VersionSpec": {
      "properties": {
        "friendlyName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "componentVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VersionsCapability": {
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionSpec"
          }
        }
      }
    },
    "RegionsCapability": {
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmSizesCapability": {
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmSizeCompatibilityFilter": {
      "properties": {
        "FilterMode": {
          "type": "string"
        },
        "Regions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterFlavors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NodeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "VMSizes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RegionalQuotaCapability": {
      "properties": {
        "region_name": {
          "type": "string"
        },
        "cores_used": {
          "type": "integer",
          "format": "int64"
        },
        "cores_available": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "QuotaCapability": {
      "properties": {
        "regionalQuotas": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionalQuotaCapability"
          }
        }
      }
    },
    "CapabilitiesResult": {
      "properties": {
        "versions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VersionsCapability"
          }
        },
        "regions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RegionsCapability"
          }
        },
        "vmsizes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VmSizesCapability"
          }
        },
        "vmsize_filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSizeCompatibilityFilter"
          }
        },
        "features": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quota": {
          "$ref": "#/definitions/QuotaCapability"
        }
      },
      "description": "The Get Capabilities operation response."
    },
    "ClusterListPersistedScriptActionsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          }
        }
      },
      "description": "List PersistedScriptActions operations response."
    },
    "ScriptActionExecutionSummary": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of script action execution."
        },
        "instanceCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Gets the instance count for a given script action execution status."
        }
      },
      "description": "Describes the execution summary of a script action."
    },
    "RuntimeScriptActionDetail": {
      "properties": {
        "scriptExecutionId": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "Gets the execution id of the script action."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the start time of script action execution."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the end time of script action execution."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the current execution status of the script action."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the reason why the script action was executed."
        },
        "executionSummary": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScriptActionExecutionSummary"
          },
          "description": "Gets the summary of script action execution result."
        },
        "debugInformation": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the script action execution debug information."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "Gets or sets the URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "Gets or sets the parameters for the script"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the list of roles where script will be executed."
        },
        "applicationName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the application name of the script action, if any."
        }
      },
      "required": [
        "name",
        "uri",
        "roles"
      ],
      "description": "Describes the execution details of a script action."
    },
    "ClusterListRuntimeScriptActionDetailResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptActionDetail"
          }
        }
      },
      "description": "The ListScriptExecutionHistory response."
    },
    "ClusterListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        }
      },
      "description": "The List Cluster operation response."
    },
    "ClusterResizeParameters": {
      "properties": {
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the target instance count for the operation."
        }
      },
      "description": "The Resize Cluster request parameters."
    },
    "OperationResource": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Gets or sets the async operation state.",
          "enum": [
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "AsyncOperationState",
            "modelAsString": false
          }
        },
        "error": {
          "$ref": "#/definitions/ErrorInfo",
          "description": "Gets or sets the operation error information."
        }
      },
      "description": "The azure async operation response."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The resource definition.",
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "description": "The sub resource definition.",
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
